@import "setting/all";
@import "components/all";

html{
  font-size: 16px;

}
html, body{
  width: 100%;
  height: 100%;
}
body {
  font-family: $base-font-family;
  color: $base-font-color;

}

#root{
  position: relative;
}

.container{
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  max-width:  990px;
}

.modal-box {
  p {
    color: $alt-font-color;
    padding:1em;
  }
  img{
    width: 500px;
    height: auto;
  }
  .author-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg{
      height: 15px;
      width: auto;
      color: $alt-font-color;
      &:hover{
        cursor: pointer;
      }
    }
  }
}